<p id="notice"><%= notice %></p>

<p>
              <div id="img_for_show">
                <%= image_tag @packing.image, :width => 350 %>
              </div>
</p>




<p>
  <strong>Image:</strong>
  <%= @packing.image %>
</p>


<p>
  <strong>Title:</strong>
  <%= @packing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @packing.description %>
</p>

<%= link_to 'Edit', edit_packing_path(@packing) %> |
<%= link_to 'Back', packings_path %>
